<!DOCTYPE html >
<html lang="en" id="h">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/37cc952341.js" crossorigin="anonymous"></script>
    <script src="xhr.js"></script>
</head>
<body>
    
    <table id="maintable">
        <tr id="row1" class="mainrow">
            <td >
                <div id="title" style="display: grid;">
                    <div id="thetravel" style="cursor: pointer;"><a href="https://www.bing.com/videos/riverview/relatedvideo?q=the+travel&mid=D543C47B1DBC86AFDA9CD543C47B1DBC86AFDA9C&FORM=VIRE">The Travel</a></div>
                    <br>
                <pre>The journey a<span style="color: chocolate;font-size: 1.6rem; "> strange visitor</span> will arise and
things will never be the same </pre>
                </div>
                
                <img src="image.png" id="logo" alt="Profile picture">
            </td>
        </tr>
        <tr id="row2" class="mainrow">
            <td>
                <nav>
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact us </a>
                    <a href="About.html">About</a>

                </nav>
            </td>
        </tr>
        <tr id="row3" class="mainrow">
            <td id="centercol">
               
                <div style="display: flex; flex-direction: column;"> 
                    <h2 style="align-self: center;">My Profile</h2>
                    <ul style="transform: translateX(40px);">
                    <li id="name">Name:</li>
                    <li id="age">Age:</li>
                    <li id="address">Address:</li>
                    <li id="phones">Phones:</li>
                    <li id="faculty">Faculty:</li>
                    <li id="hobbies">Hobbies:<ol type="I">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol></li>
                    <li id="mail">Mail:</li>

                </ul>
                </div>
                
            </td>
            <td id="leftcol">
                <form  style="display: flex; flex-direction: column; width: 100% ;">
                    <label for="username">username</label><input name="username"   style="color: black;" id="username" type="text">
                    <label for="password">password</label><input  style="color: black;" id="password" type="password">
                    <button style="margin-top: 10px;" id="submit" type="button">login</button>

                </form>
                <br>
                <hr >
                <div style="display: flex;flex-direction: column; margin-top: 10px;">
                    <h4 style="align-self: center;">My Pages Online</h4>
                    <a style="align-self: center;" href="https://www.facebook.com/zyad.elmasry.718689/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a style="align-self: center;"  href="https://www.linkedin.com/in/ziad-hisham-13a942317/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <br>
            </td>
            <td id="rightcol" style="display: grid; justify-content: center;align-items: center;">
                <img  style="justify-self: center;align-self: start;" src="img.jpg" id="personalphoto" alt="personal photo">
                <hr>
                <div id="news"></div>
            </td>
            
        </tr>
        <tr id="row4" class="mainrow">
           <td>
               <a href="#row1">Top Of Page</a>
           </td>
             
           
        </tr>

    </table>
</body>
</html>
